extends layout

block content
  h1= title  
  p
    a(href = '/directory' id='directory') Directory 

  if(errors)
    ul
      for val in errors 
        li= val
      
  form(action='/indexUploadURL' method='post')
    div.indexUploadURL
      h1 Upload an Image URL
      input(type='text' id='indexImageURL' name='indexImageURL' size ='55')
      input(type='submit' id ='submit' value='upload') 
      
  form(action='/login' method='post')
    div.login
      h2 Login 
      label(for='username') Username:  
      input(type='text' id='username' name='username' size='35' placeholder='name1234')
      label(for='password') Password:  
      input(type='password' id='password' name='password' placeholder='********') 
      input(type='submit' id ='submit' value='Login') 

  
  form(action='/create' method='post')
    div.createAcct 
      h2 Create a New Account 
      label(for='newUsername') Username: 
      input(type='text' id='newUsername' name='newUsername' size='35' placeholder='name1234')
      label(for='newPassword') Password:
      input(type='password' id='newPassword' name='newPassword' placeholder='********')
      label(for='confirm') Confirm Password: 
      input(type='password' id='confirm' name='confirm' placeholder='********') 
      input(type='submit' id ='submit' value='Create Account')   
  
  
  if colors
    div.indexImage 
      img(src = '#{image}' width='450px')
    div.indexImagePalette 
      for color in colors 
        div.hex(style={background: color})
      p #{colors}
