extends ../layout 

block content 
  h1 Welcome to the Directory! 
  form(action='/uploadURL' method='post')
    div.uploadURL
      h1 Upload an Image URL
      input(type='text' id='imageURL' name='imageURL' size ='55')
      input(type='submit' id ='submit' value='upload') 
      
  form(action='/login' method='post')
    div.login
      h1 Login 
      label(for='username') Username:  
      input(type='text' id='username' name='username' size='35' placeholder='name1234')
      label(for='password') Password:  
      input(type='password' id='password' name='password' placeholder='********') 
      input(type='submit' id ='submit' value='Login') 
    div.logout
      a(href = '/logout') Logout

  
  form(action='/create' method='post')
    div.createAcct 
      h1 Create a New Account 
      label(for='newUsername') Username: 
      input(type='text' id='newUsername' name='newUsername' size='35' placeholder='name1234')
      label(for='newPassword') Password:
      input(type='password' id='newPassword' name='newPassword' placeholder='********')
      label(for='confirm') Confirm Password: 
      input(type='password' id='confirm' name='confirm' placeholder='********') 
      input(type='submit' id ='submit' value='Create Account')
      
  if colors
    div.indexImage 
      img(src = '#{image}')
    div.indexImagePalette 
      for color in colors 
        div.hex(style={background: color })
      p #{colors}
