extends ../layout 

block content 
  h1 New Palette!
  
  form(action='/homeUploadURL' method='post')
    div.homeUploadURL
      h3 Upload a new image URL
      input(type='text' id='homeImageURL' name='homeImageURL' size ='75')      
      
    div.name 
      label(for='paletteName') Name your Palette: 
      input(type='text' size='35' id='paletteName' name='paletteName')  
      
    div.privacy 
      input(type='checkbox' id='privacy' name='privacy' value='on')
      label(for='privacy') Private Image
        h5 *Public images will appear for anyone to see under database     
                
    div.save 
      button(type='submit' id='save') Save My Palette
      a(href='/delete') Discard Palette
      
  //- if colors
  //-   div.indexImage 
  //-     img(src = '#{image}')
  //-   div.indexImagePalette 
  //-     for color in colors 
  //-       div.hex(style={background: color })
  //-     p #{colors}
  
  script(src='/javascripts/preview.js' type='text/javascript')
  script(src='/javascripts/palette.js' type='text/javascript')
